<div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="title">List Title</label>
            <input type="text" class="form-control" [(ngModel)]="newList.title" (keyup)='changed($event)' id="title" placeholder="">
            <div *ngIf="errorStatusCode === 404" class="alert alert-danger">List with same title already exist</div>
        </div>
        <div class="col-md-4 mb-3">
            <label for="description">Description</label>
            <input type="text" class="form-control" [(ngModel)]="newList.description" id="description" placeholder="">  
        </div>  
    </div>   
    <div class="form-row">
        <button class="btn btn-primary" style="height:50px;width:120px" id="my_btn" [(disabled)] = "isDisabled" (click)="publish()">Publish</button>  
    </div>
    <br><br>
    <div *ngIf="errorStatusCode === 400" class="alert alert-danger">Publish unsuccessfully called</div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <p>Enter a link and press enter</p>
            <input type="url" class="form-control" [(ngModel)]="newItem.link" (keyup.enter)="addItem()" id="link" placeholder="http://example.com" >
            <div *ngIf = "!isValidUrl" class="alert alert-danger">Please enter valid url</div> 
            <div *ngIf = "itemAlreadyExist" class="alert alert-danger">The same Item already exist</div> 
        </div>
    </div>
    <p>Links</p>
    <div *ngIf = "newList.items">
        <div *ngFor="let item of newList.items">
            <div class="row " style="height: 50%; width: 50%;border:1px; border-style:solid; border-color:#000000; padding: 1em; background:#f1f1f1; border-radius: 20px;">
                <div class="col-10">
                    <h4>{{ item.name }}</h4>                            <!--contenteditable="true"-->
                    <p >{{ item.description }}</p>
                    <p>{{ item.link }}</p> 
                </div>
                <div class="col-0">
                    <button class="btn-close btn-lg float-right" arial-label = "Close" (click)="deleteItem(item)">X</button>
                </div>
            </div> 
        </div>
    </div>  
</div>
