<div>
    <h5>Assignment for this project:</h5>
    <p>Build the app similar to <a href="https://www.theurlist.com/" target="_blank">TheUrlList</a></p>

    Task breakdown:
    <ul>
        <li>Explore the solution. Get familiar with Web API and Angular.</li>
        <li>Add Swagger support for the API.</li>
        <li>Add Angular component for adding new urls. Check <a href="https://www.theurlist.com/s/edit" target="_blank">edit</a> page on TheUrlList.</li>
        <li>Add Controler to support publishing a url list.</li>
        <li>Add Angular component to view published url list. Here is one <a href="https://www.theurlist.com/aspnet-standup-2021-02-02" target="_blank">example</a> of published list.</li>
        <li>Add data layer. Use EntityFramework Core with SQLite database.</li>
        <li>Add unit tests.</li>
        <li>to bee continued...</li>
    </ul>
</div>